<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="AzurePackagesServiceTitan" value="https://pkgs.dev.azure.com/servicetitan-packages/nuget/_packaging/servicetitan-nuget/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <AzurePackagesServiceTitan>
            <add key="Username" value="nuget-read-only" />
            <add key="ClearTextPassword" value="%ST__NuGetKey%" />
        </AzurePackagesServiceTitan>
    </packageSourceCredentials>
    <config>
        <add key="dependencyVersion" value="Highest" />
    </config>
    <packageSourceMapping>
      <packageSource key="nuget.org">
        <package pattern="*" />
      </packageSource>
      <packageSource key="AzurePackagesServiceTitan">
        <package pattern="ServiceTitan.*" />
      </packageSource>
    </packageSourceMapping>
</configuration>
