{
    "clientSecret": "",
    "azureServiceBusUrls": [
        {
            "url": "https://contactcenter-qa-wus2-01.servicebus.windows.net/",
            "key": ""
        },
        {
            "url": "https://contactcenter-qa-wus2-02.servicebus.windows.net/",
            "key": ""
        }
    ]
}